#header {
    border-style: none;
}

#title {
    color: black;
}

QGroupBox {
    border-style: none;
}

QPushButton {
    letter-spacing: 1px;
    font-size: 15px;

    color: white;
    background-color: #D484B4;
    border-radius: 10px;
}

QPushButton#cerrarBtn, QPushButton#volverBtn {
    border-radius: 10px;
}

QPushButton:hover {
    color: rgba(255, 255, 255, 0.692);
    background-color: #ebbcdc;
}

/* Estilos de la ventana Inventario */
QWidget#ventanaDeConsultas QLabel, 
QWidget#ventanaDeConsultas QLabel#titleLabel {
    color: #272727;
}

QWidget#ventanaDeConsultas 
QPushButton#volverBtn {
    border-radius: none;

    background-color: #EBBCDC;
    border-bottom-right-radius: 5px;
}

QWidget#queryHeader {
    background-color: #EBBCDC;
}

#ventanaDeConsultas QPushButton#serviciosBtn, 
#ventanaDeConsultas QPushButton#productosBtn {
    padding: 8px;

    font-size: 20px;

    color: #272727;
    border-radius: 2px;
    background-color: none;
}

#ventanaDeConsultas QPushButton#serviciosBtn:hover, 
#ventanaDeConsultas QPushButton#productosBtn:hover {
    background-color: none;
}

QLineEdit#userInput {
    padding: 5px 10px;

    font-style: italic;

    background-color: #E4C4D4;
    border-top-left-radius: 1px;
    border-bottom-left-radius: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

QPushButton#fechaBtn, 
QPushButton#buscarBtn {
    border-radius: 15px;
}
