#header {
    border-style: none;
}

#cerrarBtn, #volverBtn {
    border-radius: 10px;
}

#title {
    color: #D484B4;
}

QPushButton {
    letter-spacing: 1px;
    font-size: 15px;

    color: white;
    background-color: #D484B4;
    border-radius: 10px;
}

QPushButton:hover {
    color: rgba(255, 255, 255, 0.692);
    background-color: #ebbcdc;
}

/* Estilos de la ventana Inventario */
QWidget#queryHeader {
    background-color: #EBBCDC;
}

QGroupBox#filtroLabelContenedor {
    border-style: none;
}

QPushButton#fechaBtn, QPushButton#fechaBtn {
    border-radius: 10px;
}

QLineEdit#userInput {
    padding-left: 10px;

    font-style: italic;

    background-color: #E4C4D4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

