#header {
    border-style: none;
}

#title {
    color: #D484B4;
}

QGroupBox {
    border-style: none;
}

QPushButton {
    letter-spacing: 1px;
    font-size: 15px;

    color: white;
    background-color: #D484B4;
    border-radius: 10px;
}

QPushButton#cerrarBtn, QPushButton#volverBtn {
    border-radius: 10px;
}

QPushButton:hover {
    color: rgba(255, 255, 255, 0.692);
    background-color: #ebbcdc;
}
