QWidget#ventanaPorFecha #title, #des_hasComboBox {
    color: #f5f5f5;
    background-color: #ee5db4;
}

QCalendarWidget#calendarPorFecha {
    padding: 5px;
}

QWidget#datosContenedor {
    border-left: 2px solid #d484b4;
    border-right: 2px solid #d484b4;
}

QCalendarWidget QToolButton {
    background-color: #d484b4;
}
