QWidget#ventanaPorFecha, #title {
    color: #f5f5f5;
    background-color: hsl(324, 48%, 60%);
}

QCalendarWidget#calendarioPorFecha QToolButton {
    color: #f5f5f5;
    background-color: hsl(324, 48%, 60%);
}

QCalendarWidget QToolButton::right-arrow {
    background-image: url(GUI\recursos\images\left_arrow.png);
}

QCalendarWidget QToolButton::left-arrow {
    background-image: url(GUI\recursos\images\left_arrow.png);
}

QCalendarWidget QAbstractItemView:enabled {
    selection-background-color: #D484B4;
}

QWidget#datosContenedor {
    background-color: #f5f5f5;
    border-right: 2px solid #D484B4;
}

QCalendarWidget QToolButton, #des_hasComboBox {
    background-color: #D484B4;
}
